[%- BLOCK extra_gaq %]
_gaq.push(['_setCustomVar',
    1,
    'Donated',
    'Yes',
    2
]);
[% END -%]

[% WRAPPER 'layout.tt' title=l('Donation Complete') %]
  <p>[% l('Thank you for making a donation to the MetaBrainz Foundation. Your
           support is greatly appreciated!') %]</p>
[% END %]
