<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[% title %][% " - " IF title && !nosuffix %][% "MetaBrainz Foundation" IF !nosuffix %]</title>
    [% css_manifest('common.css.manifest') %]
    [% BLOCK layout_head %][% END %]
    [%- INCLUDE layout_head -%]
    <meta name="google-site-verification" content="RNuXvY-W9lT_oQAhump_R0brorZdDYv4a_UayxvHcus" />
    [% BLOCK extra_gaq %][% END %]
    [% IF google_analytics_code %]
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '[% google_analytics_code %]']);
        [%- INCLUDE extra_gaq -%]
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    [% END %]
  </head>
  <body>
    <div id="header">
      <div id="header-logo">
        <a href="/" class="logo" title="MetaBrainz Foundation"><strong>MetaBrainz Foundation</strong></a>
      </div>
      <div id="header-menu">
        <div>
          [%- INCLUDE "layout/menu.tt" -%]
        </div>
      </div>
    </div>

    <div id="page" class="fullwidth">
      [%- content -%]
    </div>

    <div id="footer">
      <p class="left">
        <a href="[% doc_link('Privacy_Policy') %]" class="internal">[% l('Privacy Policy') %]</a> |
        <a href="http://twitter.com/MetaBrainz" class="internal">[% l('Twitter') %]</a>
      </p>

      <p class="right">
        [% l('Hosted by {host|Digital West}. Sponsored by: {url1|Google},
              {url2|OSUOSL} and {more|others…}',
              { host => 'http://digitalwest.net/',
              url1 => 'http://www.google.com/',
              url2 => 'http://osuosl.org/',
              more => doc_link('Sponsors') }) %]
      </p>
    </div>
  </body>
</html>
