[%- PROCESS 'lib/manifest.tt' -%]
[%- PROCESS 'lib/i18n.tt' -%]
[%- PROCESS 'lib/forms.tt' -%]
[%- MACRO doc_link(to) BLOCK; c.uri_for('/doc', to); END -%]
[%- MACRO url_escape(url) BLOCK; url | url; END -%]
[%- MACRO html_escape(url) BLOCK; url | html; END -%]
[%- MACRO display_url(url)
    IF url.pretty_name; url.pretty_name | html;
    ELSE; url | uri_decode | html;
END -%]
